[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docx2txt = "*"
streamlit = "*"
pypdf2 = "*"
flask = "*"
flask-wtf = "*"
wtforms = "*"
textract = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
